body{
    background-color: rgb(45,47,51);
}
.heading{
    background-color:rgb(67,125,219);
    
}
.post-title{
    padding-top:10px;
}
.image{
    width:250px;
    height: 200px;
    padding: 5px;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding-left: 0px;
   
}

.description{
    padding: 10px;
    padding-left: 0px;
}

.post{
    background-color: white;
    border: 1px solid black;
    margin: 5px;
}

